[user]
	name = Sam Stewart
	email = sams@umn.edu

[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	st = status
[core]
        excludesfile = $HOME/.gitignore
        pager = less -FRSX
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	sshCommand = "ssh -i ~/.ssh/samstewart -F /dev/null"

